{% extends "base.html" %}


{% block content %}

<div class="row">
    <div class='col mx-auto'>
        <h1>Welcome to Thoughter</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form action="/create-thought" class="form" method="form">
            {% csrf_token %}
            <input type="hidden" value="/" name="next"/>
            <textarea class="'form-control" name="content" placeholder="Your Thought..." id="" cols="50" rows="4"></textarea>
            <button type="submit" class="btn btn-primary">Thought</button>
        
        
        </form>

    </div>
</div>

<div class="row" id='thoughts'>
    Loading...
</div>


<script>
const thoughtsElement = document.getElementById("thoughts")

//thoughtsElement.innerHTML = 'Loading...'
//var el1 = "<h2>Hi there 1</h2>"
//thoughtsElement.innerHTML = el1

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/thoughts'
const responseType = 'json'


function handleDidLike (thought_id, currentCount) {
    console.log(thought_id, currentCount)

}

function LikeBtn(thought) {
    return "<button class='btn btn-primary' onClick=handleDidLike(" + 
    thought.id + "," + thought.likes + ")>" + thought.likes + " Like</button>"
}


function formatThoughtElement(thought) {
    var formatedThought = "<div class='col-12 border-top py=3 mb-4 thought' id='thought-" + thought.id 
    + "'><p>" + thought.content + 
    "</p><div class='btn-group'>" + LikeBtn(thought) + 
    "</div></div>"
    return formatedThought
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    console.log(xhr.response)
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finalThoughtStr = ""
    var i;
    for (i=0;i<listedItems.length; i++) {
        var thoughtObj = listedItems[i]
        var currentItem = formatThoughtElement(thoughtObj)
        finalThoughtStr += currentItem
    }
    thoughtsElement.innerHTML = finalThoughtStr
}
xhr.send()


</script>

{% endblock content %}